{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block header %}
<h1>Change Password</h1>
{% endblock %}

{% block content %}
<form method="post">
  <label for="current_password">Current Password</label>
  <input name="current_password" id="current_password" type="password" required>

  <label for="new_password">New Password</label>
  <input name="new_password" id="new_password" type="password" required>

  <label for="confirm_password">Confirm New Password</label>
  <input name="confirm_password" id="confirm_password" type="password" required>

  <input type="submit" value="Update Password">
</form>
{% endblock %}