<!doctype html>
<a href="{{ url_for('index') }}">
  <img src="{{ url_for('static', filename='carved-rock-logo-black.png') }}" alt="Carved Rock">
</a>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('index') }}">Carved Rock</a></h1>
  <ul>

    {% if current_user.is_authenticated %}

    <li><span>{{ current_user.username }}</span></li>

    {% if request.endpoint != 'auth.change_password' %}
    <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
    {% endif %}

    {% if request.endpoint != 'auth.delete_account' %}
    <li><a href="{{ url_for('auth.delete_account') }}">Delete Account</a></li>
    {% endif %}

    <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>

    {% else %}

    {% if request.endpoint != 'auth.register' %}
    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
    {% endif %}

    {% if request.endpoint != 'auth.login' %}
    <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
    {% endif %}

    {% endif %}

  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>